<nav class="nav-container">
    <div class="logotype">
      <span> UCP-Correlatives </span>
    </div>
    <div class="popover-container">
      <button class="trigger-button">Menú</button>
      <div class="popover">
        <ul>
          <li>Perfil</li>
          <li>Configuración</li>
          <li>Cerrar Sesión</li>
        </ul>
      </div>
      <div class="profile-button-container"> 
        <button class="profile-button">
          <img id="profile-photo" src="https://avatars.githubusercontent.com/u/89951225?s=400&v=4" alt="Foto de perfil">
        </button>
      </div>
    </div>
  </nav>