/* Container */
.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Hero */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
    url("https://cdn.usegalileo.ai/stability/e4147d5d-c3d6-4e76-91fc-2b16cb49b906.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 60vw;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-white);
  padding: 2rem;
  gap: 1rem;
}

.hero h1 {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: -0.033em;
}

.hero h4 {
  font-size: 1rem;
  font-weight: 400;
}

/* Form */
.input-form {
  display: flex;
  gap: 1rem;
  width: 100%;
  max-width: 480px;
  flex-direction: column;
}

.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #cedde8;
  border-radius: 0.75rem;
  background-color: var(--primary-white);
  padding: 0.5rem;
}

.input-group svg {
  margin-right: 0.5rem;
  color: var(--primary-sky-blue);
}

.input-field {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.5rem;
  color: var(--primary-black);
  background-color: transparent;
  font-size: 0.875rem;
}

.btn-submit {
  background-color: var(--primary-sky-blue);
  color: var(--primary-white);
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

/* Footer */
.footer {
  padding: 1rem;
  text-align: center;
  color: var(--primary-blue-gray);
  font-size: 0.875rem;
  text-decoration: underline;
}
