.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.input {
  padding: 0.75rem;
  border: 1px solid var(---primary-blue);
  border-radius: 0.5rem;
}

.links {
  display: flex;
  justify-content: space-between;
  font-size: small;
  gap: .5rem;
  color: var(---primary-blue);
}

.link {
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.title {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
